Checks: >
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  clang-analyzer-*,
  misc-*,
  modernize-*,
  -modernize-use-trailing-return-type,
  performance-*,
  -performance-no-int-to-ptr,
  readability-*,
  -readability-magic-numbers,
  -readability-identifier-length,

WarningsAsErrors: ''

HeaderFilterRegex: '.*'

CheckOptions:
  - key: readability-function-cognitive-complexity.Threshold
    value: 100
  - key: readability-identifier-naming.FunctionCase
    value: lower_case
  - key: readability-identifier-naming.VariableCase
    value: lower_case
  - key: readability-identifier-naming.MacroDefinitionCase
    value: UPPER_CASE
