BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100

# Braces
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortBlocksOnASingleLine: Empty

# Pointers and references
PointerAlignment: Left
ReferenceAlignment: Left

# Includes
SortIncludes: CaseSensitive
IncludeBlocks: Preserve

# Other
AlignConsecutiveMacros: Consecutive
AlignConsecutiveAssignments: None
AlignTrailingComments: true
SpaceBeforeParens: ControlStatements
